.listOfBooks {
    background: white;
    margin-top: 5%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.searchContainer {
    display: flex;
    align-items: center;
    width: 50%;
}

.searchIcon {
    margin-top: -10px;
    margin-right: 10px;
    font-size: large;
}

.searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: grey;
}

tr.unavailable {
    background-color: lightgray;
}

.PersonIcon{
    margin-bottom: -5px;
}