.listOfLoans {
    margin-top: 5%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.iconWithText {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .listOfLoans {
        padding: 1rem;
    }
}
